*{
	margin: 0;
	padding: 0;
}
/*Google Font Link-up*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;*/

/*Header css*/
header{
	background: url(../img/banner.png);
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flow-root;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.navbar{
	width: 100%;
	float: left;
	padding-top: 32px;
}
.logo{
	width: 30%;
	float: left;
}
.menubar{
	width: 70%;
	float: left;
	text-align: right;
}
a{
	text-decoration: none;
}
.menubar img{
	vertical-align: middle;
}
.menubar span{
	vertical-align: middle;
	margin-left: 12px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #3d2514;
}
.menu ul{
	list-style-type: none;
	margin-top: 25px;
}
.menu ul li{
	display: inline-block;
	margin-left: 81px;
	    letter-spacing: 2px;
}
.menu ul li a{
	color: #3d2514;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
/*banner css*/

.Banner{
	width: 100%;
	float: left;
	    margin-top: 71px;
}
.Banner-left{
	width: 50%;
	float: left;

}
.Banner-right{
width: 50%;
	float: left;

}
.Banner-left p{

}
.left{
	height: 50vh;
    vertical-align: middle;
    display: table-cell;
}
.left p{
	        border: 2px dashed #3d2514;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 400;
        display: inline-block;
}
.left h1{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
    font-size: 120px;
    color: #3d2514;
    text-shadow: 4px 4px #fee8bc;
}
.left h2{
		font-family: 'Montserrat', sans-serif;
	color: #3d2514;
    letter-spacing: 4px;
    font-size: 56px;
    font-weight: 800;
    text-shadow: 2px 2px #fee8bc;
}
.img{
	position: relative;
	height: 50vh;
    vertical-align: middle;
    display: table-cell;
}
.only h1 {
text-align: center;
   color: white;
   text-align: center;
    position: absolute;
    color: white;
    bottom: 15px;
   
}
.only{
	font-size: 15px;
    padding-top: 25px;
}
.only span{
	    font-size: 13px;
}
.circle{
background: red;
    width: 120px;
    top: 331px;
    left: 119px;
    height: 120px;
    border-radius: 100%;
    position: absolute
}
.inner-circle{
    width: 100px;
    border: 2px dashed white;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 8px;
    left: 8px;

}

/*Second part css*/

.second-part{
	width: 100%;
	display: flow-root;
}
.section-2{
	width: 100%;
	float: left;
	margin-top: 80px;
}
.left-1{
	position: relative;
	float: left;
	width: 50%;

}

.des-1{
    top: 32px;
    position: absolute;
    color: white;
    left: 20px;

}

.right-1{
	float: left;
	width: 50%;

}
.upper{
    margin-left: 25px;
position: relative;
}

.des-upper{
    position: absolute;
    top: 22px;
    color: white;
    left: 28px;
}
.des-upper h2{
	font-size: 16px;
}
.des-upper h1{
    font-size: 26px;
}

.lower{
margin-left: 25px;
    margin-top: 47px;
    position: relative;
}

.des-lower{
	    position: absolute;
    top: 22px;
    color: white;
    left: 28px;
}
.des-lower h2{
font-size: 16px;
}
.des-lower h1{
font-size: 24px;
}

/*Button css*/
.button{
	width:100%;
	display: flow-root;
}
.button-c{
    width: 100%;
    float: left;
    text-align: center;
}


.btn{
    padding: 10px 17px;
    margin-top: 48px;
    font-weight: 600;
    transition: 0.5s;
    background: #ffc045;
    border: none;
    outline: none;
    color: #3d2514;
}
.btn:hover{
transition: 0.5s;
cursor: pointer;
transform: scale(1.2);
}

/*CHOOSE AND ENJOY SECTION CSS*/

.third-part{
	width: 100%;
	display: flow-root;
	    margin-top: 32px;
}
.choose-enjoy{
	width: 100%;
	float: left;
}
.upper-headline{
	width: 100%;
	float: left;
	text-align: center;
	color: #3d2514;
}
.upper-headline h1{
	    font-size: 48px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
        margin-bottom: 8px;
}
.upper-headline p{
	padding: 0px 66px;
}
.various-option{
	width: 100%;
	float: left;
	    margin-top: 53px;
	    color: #3d2514;
	    text-align: center;

}
.img-1{
width: 33.33%;
float: left;
}
.img-1 h1{
font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 29px;
}
.img-1 p{
font-family: 'Montserrat', sans-serif;
    padding: 11px;
}
.img-2{
width: 33.33%;
float: left;
}
.img-2 h1{
font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 29px;
}
.img-2 p{
font-family: 'Montserrat', sans-serif;
    padding: 11px;
}
.img-3{
width: 33.33%;
float: left;
}
.img-3 h1{
font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 29px;
}
.img-3 p{
	font-family: 'Montserrat', sans-serif;
	    padding: 11px;
}
.order-btn button{
    color: white;
    background: red;
    padding: 17px 49px;
    margin-top: 12px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
}

.order-btn button:hover{
	transform: scale(1.2);
	cursor: pointer;
	transition: 0.5s;
}
/*Slider css*/
.fourth-part{
	width: 100%;
	display: flow-root;
	    margin-top: 93px;
}
.various{
	width: 100%;
	float: left;
	box-shadow:5px 0px 10px 0px rgba(0,0,0,0.3);
}
.left-2{
	width: 50%;
	float: left;
}
.right-2{
	width: 50%;
	float: left;
}
.des-2{
	     color: #3d2514;
    padding: 37px 49px;
}
.des-2 h3{
font-family: 'Bebas Neue', cursive;
}
.des-2 p{
	margin-top: 22px;
	font-family: 'Alfa Slab One', cursive;
	font-size: 22px;
}
.des-2 h1{
	font-size: 39px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
.burder-4{
	    padding: 14px 24px;
}
.owl-theme .owl-nav {
    margin-top: 10px;
    display: none;
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    left: 41px;
    bottom: 17px;
    }
    /*Input Section css*/
 .input-section{
 	width: 100%;
 	display: flow-root;
 	background: url(../img/burder-s.png);
 	background-size: cover;
 	background-repeat: no-repeat;
 } 
 .table-book{
 	width: 100%;
 	float: left;
 	    margin-top: 13px;
 	        padding-bottom: 122px;
 	
 }
 .des-3{
margin-top: 100px;
color: #3d2514;
text-align: center;
 }
 .des-3 p{
font-size: 19px;
font-family: 'Montserrat', sans-serif;
 }
 .des-3 h1{
font-family: 'Montserrat', sans-serif;
    font-weight: 900;
 }
 .in input{
	    padding: 16px 78px;
 }
 .reservation{
 	    padding: 44px 230px;
 }
 .col{
    outline: none;
    margin-bottom: 24px;
    margin-right: 40px;
 }
 ..col-1{
 	outline: none;
 }
.place-order{
background: red;
    color: white;
    border: none;
    margin-bottom: 24px;
    padding: 18px 115px;
    font-family: 'Montserrat', sans-serif;
transition: 0.5s;
border:none;
outline: none;
}
.place-order:hover{
	cursor: pointer;
	transform: scale(0.8);
	transition: 0.5s;
}
/*Last section css*/
.last-section{
	width: 100%;
	display: flow-root;
}
.last-part{
	width: 100%;
	float: left;
background: url(../img/bottom.png);
	background-size: cover;
 	background-repeat: no-repeat;
}
.last-left{
width: 50%;
float: left;
}
.last-right{
width: 50%;
float: left;
}
.last-left p{
	color: white;
    margin-top: 34px;
	font-family: 'Alfa Slab One', cursive;
}
.last-left-pad{
        padding: 83px 72px;
}

.copyrite{
margin-bottom: -71px;
    margin-top: 120px;
}
.copyrite p{
	font-family: 'Montserrat', sans-serif;
}
.last-right-pad{
	color: white;
	    padding: 220px 76px;
    color: white;
    margin-left: 46px;
}
a{
	color: white;
}
.location{
margin-bottom: 6px;
}
.location span{
    margin-right: 19px;
}
.location-1{
	font-size: 29px;
	vertical-align: middle;
}
.writting a{
	vertical-align: middle;
}
.mail-1{
    font-size: 22px;
    vertical-align: middle	
}
.mail span{
        margin-right: 22px;
    margin-left: -4px;
}
.social-media{

}
.icon span ul{
list-style-type: none;
    bottom: -183px;
    position: absolute;
    right: -35px;
}
.icon span ul li{
	display: inline-block;
	text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background: white;
    border-radius: 100%;
    margin-left: 11px;
    transition: 0.5s;
}
.icon span ul li a{
	color: black !important;
}
.icon{
position: relative;
}
.icon span ul li:hover{
	transition: 0.5s;
	transform: scale(1.2);
}